input#edit-comment-registration-password-pass1,
input#edit-comment-registration-password-pass2 {
  width: 95%
}
.password-strength {
  margin-right: 3%
} 
.comment-form .form-type-checkbox.form-item-comment-registration-register {
  margin-left: 0;
}